<div class="container container-fluid center">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Aktív userek száma:</h5>
                    <h5 class="card-title">{{ activeUsers }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 16em;">
                <div class="card-body">
                    <h5 class="card-title">Nem aktív userek száma:</h5>
                    <h5 class="card-title">{{ inactiveUsers }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Az összes user összesített egyenlege:</h5>
                    <h5 class="card-title">{{ totalBalance }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Userek száma, akiknek kedvenc gyümölcse az alma:</h5>
                    <h5 class="card-title">{{ appleUsers }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>